<div class="container" mt-5 mb-5>
    <p>
         Online Shopping & Reselling - Shop Fashions at Lowest Prices<br>

        Yuva Fashions: India’s Favourite One-stop Online Shop<br>
    
        Don't miss out on Yuva Fashions Maha Diwali Sale from 11th Oct and Get up to 75% off , so start Shopping at LOWEST prices and Grab BEST quality products.
    </p>
    <p>    
        You can now shop for yourself or earn money online, both using the same Yuva Fashions App!
        Yuva Fashions offers stylish top quality lifestyle products at the lowest wholesale prices, allowing you to shop online at any budget. Besides shopping, you can also resell products to your friends and family. Start your Online Business with Zero Investment today! Work from home and earn money online with just a phone. If you are wondering what makes Yuva Fashions the top online shopping app, take a look at the list below.
    </p>
    <p>
        <b> 1. High-Quality Products at Lowest Prices</b>
        Place your orders from an amazing network of wholesalers across India that supply the best fashion and lifestyle products, at prices you will love. Since all the products on the Yuva Fashions app are sourced directly from suppliers and manufacturers, you will get them at lowest prices.
        <br>
        <b>2. Free Delivery/ Free Shipping</b>
        Yuva Fashions offers Free Delivery on all orders with no minimum order value. So everyone can buy best quality products at lowest prices.
        <br>
        <b>3. Cash On Delivery (COD) Available</b>
        Yuva Fashions products are available for Cash On Delivery (COD). You can choose to pay after receiving the product.
        <br>
        <b>4. Free Returns/Refunds</b>
        We offer a 7-Day Free Return & Refund Policy with which you will get the money back, no questions asked. With these policies, online shopping and earning money through reselling is a safe experience!
        <br>
        <b>5. 100% Safe & Timely Payments</b>
        Our payment gateways are safe, secure & quick for online payments. Your online transactions and payment details are safeguarded. Your commission is transferred automatically into your bank account, thrice a month. 
    </p>
        
    <p>
        Yuva Fashions Online Shopping App Features:<br>
        🔎 100% original products from men's clothes & kid’s shoes to women’s clothing.<br>
        ❎ Hassle-free 30 days exchange & returns<br>
        🚚 Express order delivery (for select pin codes)<br>
        💸 Pay UPI or cash on delivery<br>
        📍 Easily track your shopping order<br>
        🏆 Enjoy shopping lifestyle benefits with the Yuva Fashions Insider loyalty program with latest Offers & discounts on branded clothes<br>
        🔒 Secure payment & EMI options - making it easy to buy clothes
    </p>
</div>
