.banner
{
    background-image: url(../../../assets/IMAGES/img1.jpeg);
    background-size: cover;
    background-position: center top;
    height: 600px;
    padding-bottom: 7px;
      
}
.content button
{
    top: 300px;
    left: 650px;
    position: absolute;
    font-size: 35px;
    padding: 8px 0px;
    color: rgb(248, 247, 246);
    border-radius: 4px;
    background-color: rgb(57, 17, 165);
    
}
.content marquee
{
    font-size: 30px;
    color:brown;
    background-color: yellow;
    padding:0px 20px;
   
}
.stepBox
{
    background-color:lightblue;
    padding:2px 3px;
    border-radius: 3px;
    text-align: center;

}
.stepBox h2
{
  color: rgb(98, 13, 13);
  text-align: center;
}
.stepBox p
{
    color: rgb(118, 5, 5);
    font-size: 26px;
}
.container h1
{
    text-align: center;
    color: darkgreen;
    font-size: 28px;
    
}
.shopBox
{
    padding: 10px 5px;
}
.shopBox img{
    width: 90%;
    height : 400px;
    object-fit: cover;
}

.container h2{
    color: azure;
}
.text{
    text-align: center;
    color: darkblue;
}
.viewmorebutton
{
    text-decoration: none;
    background-color:maroon;
    color: white;
    padding : 10px 10px;
    font-size: 18px;
    border-radius: 3px;
    
}
.content h1{
    font-size:  35px;;
}
.container h3{
    font-size: 29px;;
}